.companions__title {
  @include font(bold, $font-orange);
  @include font-size(24px, 1em);
}

.companions__description {
  @include font(300, $font-white);
  @include font-size(16px, 1.38em);
}

.companions__description:last-of-type {
  font-weight: bold;
}

.countries__item {
  font-size: 0;
}

.companion__name {
  @include font(bold, $font-dark-slate-blue);
  @include font-size(21px, 1em);
  text-align: center;
}

.tags__item a {
  @include font-size(16px, 1em);
  color: $font-greyish-brown;
  font-weight: normal;
}

.companion__level {
  @include font-size(24px, 1em);
  @include font(bold, $font-white);
}

.companion__travel-means {
  font-size: 0;
}

.companions__show-all {
  @include font(bold, $font-dark-slate-blue);
  @include font-size(18px, 1em);
}

.companion__name--catalog {
  @include font(bold, $font-dark-slate-blue);
  @include font-size(20px, 1em);
  text-align: left;
}

.companion__likes--catalog {
  @include font(bold, $font-dark-slate-blue);
  @include font-size(14px, 1.5em);
}

.tags__item--catalog {
  font-size: 15px;
}

.tags__item--catalog a {
  font-size: inherit;
}

.wish__title,
.transport--catalog .transport__title,
.level__title {
  @include font(normal, $font-greyish-brown);
  @include font-size(15px, 1.2em);
  text-transform: unset;
}

.companion__accept {
  @include font(bold, $font-dark-slate-blue);
  @include font-size(17px, 1.76em);
  text-transform: uppercase;
}

.wish__item {
  @include font(500, $font-dark-slate-blue);
  @include font-size(15px, 1.2em);
  text-transform: uppercase;
}

.level__value {
  @include font(bold, $font-dark-slate-blue);
  @include font-size(24px, 0.75em);
}

.companions__show-more {
  @include font(bold, $font-dark-slate-blue);
  @include font-size(17px, 1.76em);
}

.transport__title {
  text-transform: unset;
}
