.companions__title {
  @include font(bold, $font-orange);
  @include font-size(24px, 1em);
}

.companions__description {
  @include font(normal, $font-white);
  @include font-size(16px, 1.38em);
}

.companions__description:last-of-type {
  font-weight: bold;
}

.main .countries__item {
  font-size: 0;
}

.companion__name {
  @include font(bold, $font-dark-slate-blue);
  @include font-size(21px, 1em);
}

.tags__item a {
  @include font-size(16px, 1em);
  color: $font-greyish-brown;
  font-weight: normal;
}

.companion__level {
  @include font-size(24px, 1em);
}

.companion__travel-means {
  font-size: 0;
}

.companions__show-all {
  @include font(bold, $font-dark-slate-blue);
  @include font-size(18px, 1em);
}

.catalog-main .companion__name {
  @include font(bold, $font-dark-slate-blue);
  @include font-size(20px, 1em);
}

.catalog-main .companion__likes {
  @include font(bold, $font-dark-slate-blue);
  @include font-size(14px, 1.5em);
}

.catalog-main .tags__item {
  font-size: 15px;
}

.catalog-main a {
  font-size: inherit;
}

.catalog-main .wish__title,
.catalog-main .transport__title,
.catalog-main .level__title {
  @include font(normal, $font-greyish-brown);
  @include font-size(15px, 1.2em);
}

.catalog-main .companion__accept {
  @include font(bold, $font-dark-slate-blue);
  @include font-size(17px, 1.76em);
}

.catalog-main .wish__item {
  @include font(bold, $font-dark-slate-blue);
  @include font-size(15px, 1.2em);
  text-transform: uppercase;
}

.catalog-main .level__value {
  @include font(bold, $font-dark-slate-blue);
  @include font-size(24px, 0.75em);
}

.catalog-main .companions__show-more {
  @include font(bold, $font-dark-slate-blue);
  @include font-size(17px, 1.76em);
}

.companion__level {
  @include font(bold, $font-white);
  @include font-size(24px, 1em);
}