.filters__title {
  @include font-size(16px, 1.38em);
  @include font(bold, $font-blue-grey);
  text-transform: uppercase;

  @include desktop {
    @include font-size(20px, 1.2em);
  }
}

.continents__item button {
  @include font-size(16px, 1.38em);
  @include font(bold, $font-dark-blue-grey-30);
  text-transform: uppercase;

  @include common-tablet-desktop {
    @include font-size(20px, 1.2em);
  }
}

.continents__item:hover button {
  color: $font-dark-blue-grey-60;
}

.continents__item:active button {
  color: $font-blue-grey;
}

.continents__item--active button {
  color: $font-blue-grey;
}

label[for="filters__alphabet-toggle"] {
  @include font-size(20px, 1.2em);
  @include font(bold, $font-blue-grey);
  text-transform: uppercase;
}

.alphabet__letter {
  @include font-size(14px, 1.4em);
  @include font(500, $font-dark-slate-blue);
  text-align: center;
  vertical-align: middle;
  line-height: 42px;

  @include common-tablet-desktop {
    @include font-size(20px, 0.9em);
    line-height: 70px;
  }
}

.filters__alphabet .alphabet__letter {
  @include common-tablet-desktop {
    @include font-size(60px, 1em);
    @include font(bold, $font-dark-blue-grey-20);
  }

  @include desktop {
    text-align: left;
    color: $font-blue-grey;
  }
}

.filters__alphabet .letter__title--active {
  @include tablet {
    color: $font-blue-grey;
  }
}

.alphabet__letter--active {
  color: $font-white;
}

.letter__item,
.letter__country {
  @include font-size(16px, 1.38em);
  @include font(normal, $font-greyish-brown);

  @include common-tablet-desktop {
    @include font-size(20px, 1.5em);
  }
}

.letter__item:hover {
  color: $bg-dark-slate-blue;
}

.letter__item:active {
  color: $bg-dark-slate-blue-30;
}

.filters__close {
  @include font-size(16.5px, 1.79em);
  @include font(bold, $font-dark-blue);
  text-transform: uppercase;

  @include common-tablet-desktop {
    @include font-size(20px, 1.5em);
  }
}

.filters__close:active {
  color: $font-dark-slate-blue-30;
}
