.navigation--service .navigation__item {
  @include font(normal, $font-blue-grey);
  @include font-size(30px, 1.2em);
  text-transform: uppercase;
  text-align: center;

  @include tablet {
    @include font(500, $font-blue-grey);
    @include font-size(60px, 1.18em);
    text-align: left;
  }

  @include desktop {
    @include font(500, $font-white);
    @include font-size(16px, 1.5em);
  }
}

.navigation--service .navigation__item:hover {
  @include desktop {
    color: $font-light-gold;
  }
}

.navigation--service .navigation__item:active {
  @include desktop {
    color: $font-light-gold;
    opacity: 0.3;
  }
}

.navigation__item a {
  color: inherit;
}

.navigation__item--authentication,
.navigation__item--phone,
.navigation__item--email {
  @include font(bold, $font-dark-blue);
  @include font-size(17px, 1.76em);
  text-transform: uppercase;
}

.navigation__item--phone,
.navigation__item--email {
  @include tablet {
    @include font-size(28px, 1em);
  }
}

.navigation__item--phone:active,
.navigation__item--email:active {
  opacity: 0.3;
}

.navigation__item--authentication {
  text-align: center;

  @include tablet {
    @include font-size(20px, 1.5em);
  }
}

.header__navigation .navigation__item:not(.navigation__item--auth) {
  font-size: 0;
}

.navigation__item--auth a {
  @include font(bold, $font-dark-blue);
  @include font-size(17px, 1.76em);
  text-transform: uppercase;

  @include common-tablet-desktop {
    @include font-size(20px, 1.5em);
  }
}

.navigation__item--auth a:active {
  color: $font-dark-two-30;
}
