.promo__title {
  @include font(bold, $font-white);
  @include font-size(36px, 1.11em);
  text-align: center;
}

.promo__quote p {
  @include font(300, $font-white);
  @include font-size(16px, 1.38em);
}

.promo__quote cite {
  @include font(bold, $font-white);
  @include font-size(16px, 1.38em);
  font-style: normal;
}

.promo__steps-list {
  @include font(bold, $font-dark-blue);
  @include font-size(18px, 1em);
}

.promo__steps-list span {
  @include font(bold, $font-white);
  @include font-size(18px, 1em);
}

.promo .navigation__item:not(.navigation__item--auth) {
  font-size: 0;
}

.navigation__item--auth a {
  @include font(bold, $font-dark-blue);
  @include font-size(17px, 1.76em);
  text-transform: uppercase;
}

.navigation__item--auth a:active {
  color: $font-dark-two-30;
}
