.tariff {
  @include font(bold, $font-white);
}

.tariff__title {
  @include font-size(24px, 1em);
  color: $font-orange;
}

.tariff__show-all {
  @include font-size(16px, 1em);
  color: $font-blue-grey;
}

.tariff__list {
  @include font(300, $font-greyish-brown);
  @include font-size(16px, 1.38em);
}

.tariff__list span {
  color: $font-white;
}
