@mixin retina {
  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin common-tablet-desktop {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin bg-round-corvers($color) {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: $color;
}

@mixin gold-button() {
  display: inline-block;
  width: 100%;
  padding: 24px;
  border-radius: 10px;

  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 14' style='enable-background:new 0 0 10 14;' xml:space='preserve' fill='%231d2e5b'%3E%3Cpolygon points='0,14 0,0.1 10,7.1 '/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 10px 14px;
  background-color: $bg-light-gold;
}

@mixin gold-button-hover() {
  background-color: $bg-mango-two;
}

@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin draw-progress($progress, $color) {
  .bar {
    .half-circle {
      border-color: $color;
    }

    .bar__left-side {
      transform: rotate($progress * 3.6deg);
    }

    @if $progress <= 50 {
      .bar__right-side {
        display: none;
      }
    }

    @else {
      clip: rect(auto, auto, auto, auto);

      .bar__right-side {
        transform: rotate(180deg);
      }
    }
  }
}
