// fonts color variables
$font-white: #fff;
$font-dark-blue: #161c35;
$font-orange: #ff8d30;
$font-greyish-brown: #444444;
$font-greyish-brown-30: rgba(68, 68, 68, 0.3);
$font-dark-slate-blue: #1d2e5b;
$font-blue-grey: #192144;
$font-light-gold: #ffd74b;

// background color variables
$bg-blue: rgba(25, 33, 68, 0.9);
$bg-grey: #edeff6;
$bg-light-gold: #ffd74b;
$bg-white: #fff;
$bg-orange: #ff8d30;
$bg-mango-three: #ffa530;
$bg-mango-two: #ffbd30;