// breakpoints
$tablet-width: 768px;
$desktop-width: 1440px;

// fonts color variables
$font-white: #ffffff;
$font-dark-blue: #161c35;
$font-orange: #ff8d30;
$font-greyish-brown: #444444;
$font-greyish-brown-30: rgba(68, 68, 68, 0.3);
$font-greyish-brown-50: rgba(68, 68, 68, 0.5);
$font-dark-slate-blue: #1d2e5b;
$font-blue-grey: #192144;
$font-light-gold: #ffd74b;
$font-black-30: rgba(0, 0, 0, 0.3);
$font-black-60: rgba(0, 0, 0, 0.6);
$font-dark-slate-blue-30: rgba(29, 46, 91, 0.3);
$font-dark-two-30: rgba(22, 28, 53, 0.3);
$font-orange-red: #ff5c23;
$font-dark-blue-grey-30: rgba(25, 33, 68, 0.3);
$font-dark-blue-grey-20: rgba(25, 33, 68, 0.2);
$font-black: #000000;
$font-mango-two: #ffbd30;
$font-red: #ff0000;

// background color variables
$bg-dark-blue: #161c36;
$bg-dark-blue-grey: #192144;
$bg-globe-tablet-blue: 	#182044;
$bg-blue: rgba(25, 33, 68, 0.9);
$bg-grey: #edeff6;
$bg-light-gold: #ffd74b;
$bg-white: #ffffff;
$bg-orange: #ff8d30;
$bg-mango-three: #ffa530;
$bg-mango-two: #ffbd30;
$bg-pale-grey: #dfe3f0;
$bg-dark-blue-grey-two: #121936;
$bg-macaroni-and-cheese:#f3c72b;
$bg-dusty-orange: #f26926;
$bg-cloudy-blue: #cbced9;
$bg-light-blue-grey-five: #d4d9eb;
$bg-orange-red: #ff5c23;
$bg-dark-slate-blue-10: rgba(29, 46, 91, 0.1);
$bg-pale-grey-four: #e2e5f2;
$bg-dark-slate-blue: #1d2e5b;
$bg-light-periwinkle: #d6daed;
$bg-dark-blue-grey-four: #141b3b;
$bg-steel-grey: #808285;
$bg-very-light-pink: #ffefef;
