.catalog-main {
  background-color: $bg-grey;
}

.catalog-main__title {
  margin-top: 0;
  margin-bottom: 0;

  padding-top: 50px;
  border-radius: 0 0 30px 30px;
  position: relative;

  @include common-tablet-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.catalog-main__title::before {
  @include bg-round-corvers($bg-pale-grey-four);
}
