.companions {
  background-color: $bg-blue;

  padding-top: 72px;
  padding-bottom: 30px;
  border-radius: 0 0 30px 30px;

  position: relative;

  @include tablet {
    //padding: 80px 75px;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.catalog-main__companions {
  background-color: $bg-grey;

  @include desktop {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
}

.companions::before {
  @include bg-round-corvers($bg-grey);
  z-index: -2;
}

.companions__info-wrapper {
  @include desktop {
    width: 50%;
  }
}

.companions__title,
.companions__description {
  padding: 0 25px 0 25px;
  z-index: 1;
}

.main__companions .companions__title {
  position: relative;
}

.companions__title::before {
  content: "";
  display: inline-block;
  width: 113px;
  height: 132px;
  border-radius: 0 20px 20px 0;
  background-color: $bg-dark-blue-grey-four;
  position: absolute;
  left: -25px;
  top: -30px;
  z-index: -1;

  @include tablet {
    width: 213px;
    height: 213px;
    border-radius: 20px;
  }

  @include desktop {
    width: 213px;
    height: 213px;
    border-radius: 20px;
  }
}

.companions__description {
  position: relative;

  @include tablet {
    max-width: 490px;
  }

  @include desktop {
    max-width: 490px;
  }
}

.companions__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 50%;
  }
}

.companion {
  background-color: $bg-white;
  position: relative;

  border-radius: 10px;
  margin-bottom: 10px;

  @include tablet {
    max-width: 285px;
    margin-bottom: 0;
  }

  @include desktop {
    max-width: 285px;
    margin-bottom: 0;
  }
}

.catalog-main__companions .companion {
  @include tablet {
    max-width: 688px;
    margin-bottom: 40px;
    border-radius: 20px;
  }

  @include desktop {
    max-width: 950px;
    margin-bottom: 30px;
    border-radius: 20px;
  }
}

.companion:last-of-type {
  margin-bottom: 0;
}

.companion--catalog {
  max-width: 270px;

  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.companion__avatar--catalog {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;

  top: 15px;
  left: 18px;

  @include tablet {
    width: 190px;
    height: 190px;
    border-radius: 20px;
    position: static;
  }

  @include desktop {
    width: 285px;
    height: 285px;
    border-radius: 20px;
    position: static;
  }
}

.companion__avatar--main {
  border-radius: 10px;

  @include tablet {
    width: 285px;
    height: 285px;
  }

  @include desktop {
    width: 285px;
    height: 285px;
  }
}

.companion__tags {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.companion__tags--main {
  margin: 15px 47px;
}

.companion__tags--catalog {
  margin-left: 25px;
  justify-content: flex-start;
  max-width: 60%;

  @include tablet {
    margin: 0;
    margin-top: 20px;
    max-width: 222px;
  }
}

.wish__list {
  list-style: none;
}

.companion__accept {
  border: none;
  background-color: $bg-light-gold;
  margin: 20px;
  padding: 8px 0;
  border-radius: 20px;
  width: 230px;
}

.catalog-main__companions .companion__accept {
  @include tablet {
    margin-top: -45px;
    margin-left: 190px;
    max-width: 148px;
  }

  @include desktop {
    margin: 0;
    margin-left: 285px;
    margin-top: -45px;
    max-height: 45px;
    max-width: 148px;
  }
}

.companions__show-more {
  border: none;
  background-color: $bg-grey;
  width: 100%;
  margin-top: 25px;

  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 27 27' style='enable-background:new 0 0 27 27;' xml:space='preserve'%3E%3Cpath fill='%231d2e5b' d='M25.5,12H15V1.5C15,0.7,14.3,0,13.5,0S12,0.7,12,1.5V12H1.5C0.7,12,0,12.7,0,13.5S0.7,15,1.5,15H12v10.5 c0,0.8,0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5V15h10.5c0.8,0,1.5-0.7,1.5-1.5S26.3,12,25.5,12z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 20% 40%;
}

.companion__level--main {
  position: absolute;
  top: 16px;
  left: 16px;

  text-align: center;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;

  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid $bg-orange;
}

.companion__name {
  margin: 27px 0 15px 0;
}

.companion__name--catalog,
.companion__likes--catalog {
  margin: 0;
  padding-top: 16px;
  margin-left: 104px;

  width: 30%;
}

.companion__name--catalog {
  @include tablet {
    //margin-left: 258px;
    max-width: 200px;
    margin: 0;
  }
}

.companion__likes--catalog {
  @include tablet {
    position: static;
    order: 1;
    margin-top: -40px;
    width: auto;
    margin-left: 0;
  }

  @include desktop {
    position: static;
    width: auto;
    margin-left: 0;
  }
}

.companions__show-all {
  @include gold-button();
  margin-top: 20px;

  @include desktop {
    max-width: 280px;
    height: 100%;
    margin: -83px 360px auto 0;
  }
}

.companions__show-all:hover,
.companions__show-all:active {
  @include gold-button-hover();
}

.companion__details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 23px 0 26px;

  @include tablet {
    flex-direction: column;
    margin-left: auto;
  }

  @include desktop {
    order: 1;
    height: 100%;
    margin-left: auto;
    margin-top: -50px;
  }
}

.wish {
  width: 100%;
}

.catalog-main__companions .wish {
  @include tablet {
    order: 1;
  }

  @include desktop {
    width: 30%;
    height: 100%;
    margin-right: auto;
  }
}

.catalog-main__companions .wish__list {
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.transport--catalog {
  flex-grow: 1;
}

.level {
  width: 65px;
  display: flex;
  flex-direction: column;
}


.wish__title,
.transport__title,
.level__title {
  display: inline;
  margin: 0;
}

.wish__title {
  position: relative;
}

.transport--catalog .transport__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;

  @include tablet {
    flex-direction: column;
  }
}

.transport--catalog .transport__item {
  display: inline-block;
  width: 33px;
  height: 32px;
  background-color: $bg-pale-grey;
  border-radius: 50%;
}
