.companions {
  background-color: $bg-blue;

  padding-top: 72px;
  padding-bottom: 30px;
  border-radius: 0 0 30px 30px;

  position: relative;
}

.companions::before {
  @include bg-round-corvers($bg-grey);
}

.catalog-main .companions {
  background-color: $bg-grey;
}

.companions__title,
.companions__description {
  padding: 0 25px 0 25px;
}

.companions__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.companion {
  background-color: $bg-white;
  position: relative;

  border-radius: 10px;
  margin-bottom: 10px;
}

.companion__avatar {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;

  top: 15px;
  left: 18px;
}

.catalog-main .companion {
  max-width: 270px;
}

.companion:last-of-type {
  margin-bottom: 0;
}

.companion__tags {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.main .companion__tags {
  margin: 15px 47px;
}

.catalog-main .companion__tags {
  margin-left: 25px;
  justify-content: flex-start;
  max-width: 60%;
}

.catalog-main .wish__list {
  list-style: none;
}

.catalog-main .companion__accept {
  border: none;
  background-color: $bg-light-gold;
}

.catalog-main .companions__show-more {
  border: none;
  background-color: $bg-grey;
  width: 100%;
  margin-top: 25px;

  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 27 27' style='enable-background:new 0 0 27 27;' xml:space='preserve'%3E%3Cpath fill='%231d2e5b' d='M25.5,12H15V1.5C15,0.7,14.3,0,13.5,0S12,0.7,12,1.5V12H1.5C0.7,12,0,12.7,0,13.5S0.7,15,1.5,15H12v10.5 c0,0.8,0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5V15h10.5c0.8,0,1.5-0.7,1.5-1.5S26.3,12,25.5,12z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 20% 40%;
}

.main .companion__avatar {
  border-radius: 10px;
}

.main .companion__level {
  position: absolute;
  top: 16px;
  left: 16px;

  text-align: center;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;

  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid $bg-orange;
}

.companion__name {
  margin: 27px 0 15px 0;
  text-align: center;
}

.catalog-main .companion__name,
.catalog-main .companion__likes {
  margin: 0;
  padding-top: 16px;
  margin-left: 104px;

  width: 30%;
}

.companions__show-all {
  @include gold-button();
  margin-top: 20px;
}

.companions__show-all:hover,
.companions__show-all:active {
  @include gold-button-hover();
}

.catalog-main .wish__title,
.catalog-main .transport__title {
  padding-left: 25px;
  display: inline;
  margin: 0;
}

.catalog-main .wish__title {
  position: relative;
}

.companion__accept {
  margin: 20px;
  padding: 8px 0;
  border-radius: 20px;
  width: 230px;
}
