.contacts {
  background-color: $bg-dark-blue-grey;

  padding-top: 72px;
  padding-bottom: 30px;

  border-radius: 0 0 30px 30px;

  position: relative;
}

.contacts::before {
  @include bg-round-corvers($bg-light-gold);
}

.contacts__title {
  margin: 0;
  margin-bottom: 23px;
  text-align: center;
}

.contacts__description {
  margin: 0 auto;
  max-width: 200px;
  text-align: center;
}

.contacts form {
  margin-top: 32px;
  margin-bottom: 32px;
  position: relative;
}

.contacts__user-email {
  width: 100%;
  padding: 21px;
  border: 0;
  border-radius: 10px;
}

.contacts__submit {
  width: 60px;
  height: 60px;
  background-color: $bg-light-gold;
  border: none;
  border-radius: 10px;

  position: absolute;
  right: 0;
}

.contacts__phone,
.contacts__email {
  width: 100%;

  display: flex;
  align-items: center;
}

.contacts__phone::before,
.contacts__email::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: inline-block;
  margin-right: 15px;
}

.contacts__phone::before {
  background: url("../../../img/contacts-phone.svg") no-repeat 50% 50%;
  background-size: 18px 18px;
  background-color: $bg-dark-blue-grey-two;
}

.contacts__email::before {
  background: url("../../../img/contacts-mail.svg") no-repeat 50% 50%;
  background-size: 18px 18px;
  background-color: $bg-dark-blue-grey-two;
}
