.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding-top: 18px;
  padding-bottom: 17px;
  background-color: $bg-pale-grey-four;
  position: relative;
  border-radius: 0 0 30px 30px;

  @include desktop {
    padding-top: 57px;
    padding-bottom: 44px;
  }
}

.filters::before {
  @include bg-round-corvers($bg-grey);
}

.filters__title {
  margin: 0;

  @include tablet {
    display: none;
  }

  @include desktop {
    margin-right: 15px;
    margin-left: 20px;
  }
}

.filters__title::before {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 15 10' style='enable-background:new 0 0 15 10;' xml:space='preserve' fill='%23121936'%3E%3Crect x='4' width='2' height='2'/%3E%3Crect width='3' height='2'/%3E%3Crect x='7' width='8' height='2'/%3E%3Crect x='4' y='8' width='2' height='2'/%3E%3Crect y='8' width='3' height='2'/%3E%3Crect x='7' y='8' width='8' height='2'/%3E%3Crect x='9' y='4' width='2' height='2'/%3E%3Crect x='12' y='4' width='3' height='2'/%3E%3Crect y='4' width='8' height='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 15px;
  height: 10px;
  margin-right: 12px;

  @include desktop {
    width: 23px;
    height: 15px;

    margin-right: 18px;
  }
}

.filters__wrapper {
  display: none;

  @include common-tablet-desktop {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.filters__toggle {
  width: 0;
  height: 0;

  @include common-tablet-desktop {
    display: none;
  }
}

input[id="filters__alphabet-toggle"] {
  display: none;

  @include common-tablet-desktop {
    width: 0;
    height: 0;
  }
}

.filters__points-button {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 27 5' style='enable-background:new 0 0 27 5;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23192144;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='2.5' cy='2.5' r='2.5'/%3E%3Ccircle class='st0' cx='13.5' cy='2.5' r='2.5'/%3E%3Ccircle class='st0' cx='24.5' cy='2.5' r='2.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 17px 17px;
  cursor: pointer;

  @include common-tablet-desktop {
    display: none;
    width: auto;
    height: auto;
  }
}

.filters input[id="filters__toggle"]:checked ~ .filters__wrapper {
  display: block;
  width: 100%;
  margin-top: 35px;

  @include common-tablet-desktop {
    margin-top: 0;
  }
}

.filters input[id="filters__alphabet-toggle"]:checked ~ .filters__alphabet-wrapper {
  @include common-tablet-desktop {
    display: block;
  }
}

.filters input[id="filters__alphabet-toggle"]:checked ~ .filters__close {
  @include common-tablet-desktop {
    display: block;
  }
}

.filters__show-button:hover {
  opacity: 0.6;
}

.filters__show-button:active {
  opacity: 0.3;
}


.filters__show-button .filters__collapse {
  display: none;
}

.filters input[id="filters__alphabet-toggle"]:checked ~ .filters__show-button .filters__show-all-filters {
  display: none;
}

.filters input[id="filters__alphabet-toggle"]:checked ~ .filters__show-button .filters__collapse {
  display: block;
}

.filters input[type="checkbox"]:checked + .filters__points-button {
  display: inline-block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18.6 18.6' style='enable-background:new 0 0 18.6 18.6;' xml:space='preserve' fill='%23192144'%3E%3Cpath d='M11.4,9.3l6.7-6.7c0.6-0.6,0.6-1.5,0-2.1s-1.5-0.6-2.1,0L9.3,7.2L2.6,0.4C2-0.1,1-0.1,0.4,0.4C-0.1,1-0.1,2,0.4,2.6l6.7,6.7 L0.4,16c-0.6,0.6-0.6,1.5,0,2.1s1.5,0.6,2.1,0l6.7-6.7l6.7,6.7c0.6,0.6,1.5,0.6,2.1,0s0.6-1.5,0-2.1L11.4,9.3z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;

  @include common-tablet-desktop {
    display: none;
  }
}

.filters__show-button {
  display: none;
  cursor: pointer;

  @include common-tablet-desktop {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 27px;
    max-width: 160px;

    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 27 5' style='enable-background:new 0 0 27 5;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23192144;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='2.5' cy='2.5' r='2.5'/%3E%3Ccircle class='st0' cx='13.5' cy='2.5' r='2.5'/%3E%3Ccircle class='st0' cx='24.5' cy='2.5' r='2.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 17px 17px;
  }

  @include desktop {
    margin-left: auto;
    margin-top: -35px;
    background-size: 27px 27px;

    padding-right: 45px;
    max-width: 179px;
  }
}

label[for="filters__alphabet-toggle"] {
  @include desktop {
    margin-right: 65px;
  }
}

.filters input[type="checkbox"]:checked + .filters__show-button {
  @include common-tablet-desktop {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18.6 18.6' style='enable-background:new 0 0 18.6 18.6;' xml:space='preserve' fill='%23192144'%3E%3Cpath d='M11.4,9.3l6.7-6.7c0.6-0.6,0.6-1.5,0-2.1s-1.5-0.6-2.1,0L9.3,7.2L2.6,0.4C2-0.1,1-0.1,0.4,0.4C-0.1,1-0.1,2,0.4,2.6l6.7,6.7 L0.4,16c-0.6,0.6-0.6,1.5,0,2.1s1.5,0.6,2.1,0l6.7-6.7l6.7,6.7c0.6,0.6,1.5,0.6,2.1,0s0.6-1.5,0-2.1L11.4,9.3z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 12px 12px;
  }
}

.continents {
  list-style: none;
  padding-left: 25px;
  margin: 0;

  @include common-tablet-desktop {
    display: flex;
    flex-direction: row;

    padding: 0;
  }

  @include tablet {
    max-width: 80%;
  }

  @include desktop {
    margin-left: 338px;
    margin-top: -25px;

    justify-content: space-between;
    width: 100%;
    max-width: 375px;
  }
}

.continents__item button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.continents__item:not(:last-of-type) {
  margin-bottom: 10px;
}

.letter__title {
  margin: 0;

  @include desktop {
    margin-bottom: 30px;
  }
}

.letter__list {
  display: none;
  padding: 0;

  @include desktop {
    display: block;
    list-style: none;
  }
}

.alphabet {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding-left: 25px;
}

.alphabet__letter {
  width: 44px;
  height: 42px;

  border-top: 1px solid $bg-cloudy-blue;
  border-left: 1px solid $bg-cloudy-blue;

  background-color: $bg-white;
  cursor: pointer;
}

.filters__alphabet-wrapper {
  display: flex;
  flex-direction: column;

  @include common-tablet-desktop {
    display: none;
  }
}

input[id="filters__alphabet-toggle"]:checked + .filters__alphabet-wrapper {
  @include common-tablet-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}

.filters__alphabet {
  @include tablet {
    max-width: 345px;
  }
}

.dropdown__alphabet .alphabet__letter {
  @include tablet {
    width: 54px;
    height: 70px;
  }

  @include desktop {
    width: 60px;
    height: 70px;
  }
}

.dropdown__alphabet .alphabet__letter:active {
  color: $font-white;
}

.alphabet__letter--active {
  background-color: $bg-dark-slate-blue;
}

.alphabet__letter:nth-child(5n) {
  border-right: 1px solid $bg-cloudy-blue;
}

.alphabet__letter:nth-last-child(-n + 5) {
  border-bottom: 1px solid $bg-cloudy-blue;
}

.filters__alphabet .alphabet__letter {
  @include common-tablet-desktop {
    background-color: inherit;
    border: none;
  }

  @include tablet {
    margin-right: 20px;
    margin-bottom: 30px;
  }

  @include desktop {
    min-width: 250px;
    height: 100%;
    margin-bottom: 50px;
  }
}

.filters__letter {
  list-style: none;
  padding-left: 25px;
  cursor: pointer;

  @include desktop {
    display: none;
  }
}

.filters__close {
  width: 100%;
  background-color: $bg-light-periwinkle;
  border: none;
  padding: 5px 0;
  border-radius: 20px;

  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18.6 18.6' style='enable-background:new 0 0 18.6 18.6;' xml:space='preserve' fill='%23192144'%3E%3Cpath d='M11.4,9.3l6.7-6.7c0.6-0.6,0.6-1.5,0-2.1s-1.5-0.6-2.1,0L9.3,7.2L2.6,0.4C2-0.1,1-0.1,0.4,0.4C-0.1,1-0.1,2,0.4,2.6l6.7,6.7 L0.4,16c-0.6,0.6-0.6,1.5,0,2.1s1.5,0.6,2.1,0l6.7-6.7l6.7,6.7c0.6,0.6,1.5,0.6,2.1,0s0.6-1.5,0-2.1L11.4,9.3z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position-x: 30%;
  background-position-y: 45%;
  cursor: pointer;

  @include tablet {
    display: block;
    max-width: 618px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  @include desktop {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  @include common-tablet-desktop {
    display: none;
  }
}

.filters__close:hover,
.filters__close:active {
  background-color: $bg-light-blue-grey-four;
}
