.footer {
  background-color: $bg-white;

  padding-top: 38px;
  padding-bottom: 24px;

  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 48px;
    padding-bottom: 46px;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 51px;
    padding-bottom: 51px;
  }
}

.footer--catalog::before {
  @include bg-round-corvers($bg-grey);
}

.footer--form::before {
  @include bg-round-corvers($bg-light-blue-grey-five);
}

.footer__logo {
  display: inline-block;
}

.social {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 37px;

  @include tablet {
    margin: 0;
  }

  @include desktop {
    margin: 0;
  }
}

.social a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: $bg-light-gold;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  @include common-tablet-desktop {
    width: 60px;
    height: 60px;
  }
}

.social a:hover,
.social a:active {
  background-color: $bg-mango-two;
}

.social__facebook-icon,
.social__facebook-icon:hover {
  width: 11px;
  height: 21px;
  fill: $bg-dark-slate-blue;

  @include common-tablet-desktop {
    width: 14px;
    height: 28px;
  }
}

.social__vk-icon,
.social__vk-icon:hover {
  width: 23px;
  height: 12px;
  fill: $bg-dark-slate-blue;

  @include common-tablet-desktop {
    width: 31px;
    height: 16px;
  }
}

.social__instagram-icon {
  width: 18px;
  height: 18px;
  fill: $bg-dark-slate-blue;

  @include common-tablet-desktop {
    width: 23px;
    height: 23px;
  }
}

.social__facebook-icon:active,
.social__vk-icon:active,
.social__instagram-icon:active {
  opacity: 0.3;
}

.footer__copyright a {
  align-self: flex-start;
  width: 100%;

  border-top: 1px solid $bg-grey;
  padding-top: 22px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    max-width: 30%;
    border-top: none;
    padding-top: 0;
    align-self: center;
  }

  @include desktop {
    max-width: 200px;
    border-top: none;
    padding-top: 0;
    align-self: center;
  }
}

.footer__copyright-icon {
  fill: $bg-dark-blue-grey;
  width: 27px;
  height: 34px;
  margin-left: 24px;
}

.footer__copyright:hover {
  opacity: 0.6;
}

.footer__copyright:active {
  opacity: 0.3;
}
