.form-main__new-plan {
  @include tablet {
    padding-left: 75px;
    padding-right: 75px;
  }
}

.new-plan {
  background-color: $bg-light-blue-grey-five;
  border-radius: 30px 30px 0 0;

  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}

.new-plan::before {
  @include bg-round-corvers($bg-pale-grey);
}

.new-plan__title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 31px;

  @include tablet {
    margin-bottom: 60px;
  }
}

.new-plan__title {
  margin: 0;

  @include desktop {
    margin-left: 60px;
  }
}

.new-plan form {
  background-color: $bg-white;
  border-radius: 10px;
  padding: 24px;

  @include tablet {
    padding: 50px 43px;
    border-radius: 30px;
  }

  @include desktop {
    padding: 100px 162px;
    border-radius: 60px;
  }
}

.new-plan form:not(:last-of-type) {
  margin-bottom: 10px;

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    margin-bottom: 44px;
  }
}

.form__title {
  margin: 0;
}

.form__title span {
  display: block;
}

.form__description {
  @include desktop {
    max-width: 576px;
  }
}

.form__params {
  @include tablet {
    display: flex;
    flex-direction: column;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__item {
  position: relative;
  margin-bottom: 20px;
}

.form__item--amount {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    width: 50%;
    min-height: 70px;
  }
}

.form__item--duration {
  @include common-tablet-desktop {
    order: 1;
  }
}

.form__item--amount span {
  @include desktop {
    order: 1;
  }
}

.form__item .button {
  position: absolute;
  top: 26px;

  border: none;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: inherit;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 14px 2px;

  @include tablet {
    top: 50px;
    z-index: 1;
    width: 70px;
    height: 70px;
  }

  @include desktop {
    top: unset;
  }
}

.form__item .button--decrease {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 14px 2px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 2' style='enable-background:new 0 0 20 2;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%0A%23cbced9;%7D%0A%3C/style%3E%3Crect class='st0' width='20' height='2'/%3E%3Crect class='st0' width='20' height='2'/%3E%3C/svg%3E ");

  left: 1px;

  @include common-tablet-desktop {
    background-size: 20px 2px;
  }

  @include desktop {
    left: 219px;
    z-index: 1;
  }
}

.form__item .button--decrease:hover {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 2' style='enable-background:new 0 0 20 2;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23959bb2;%7D%0A%3C/style%3E%3Crect class='st0' width='20' height='2'/%3E%3Crect class='st0' width='20' height='2'/%3E%3C/svg%3E ");
}

.form__item .button--decrease:active {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 2' style='enable-background:new 0 0 20 2;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23161c35;%7D%0A%3C/style%3E%3Crect class='st0' width='20' height='2'/%3E%3Crect class='st0' width='20' height='2'/%3E%3C/svg%3E ");
}

.form__item .button--increase {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 14px 14px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%0A%23cbced9;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='20,9 11,9 11,0 9,0 9,9 0,9 0,11 9,11 9,20 11,20 11,11 20,11 '/%3E%3C/svg%3E ");

  right: 1px;

  @include common-tablet-desktop {
    background-size: 20px 20px;
  }

  @include desktop {
    right: 100px;
  }
}

.form__item .button--increase:hover {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%0A%23959bb2;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='20,9 11,9 11,0 9,0 9,9 0,9 0,11 9,11 9,20 11,20 11,11 20,11 '/%3E%3C/svg%3E ");
}

.form__item .button--increase:active {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%0A%23161c35;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='20,9 11,9 11,0 9,0 9,9 0,9 0,11 9,11 9,20 11,20 11,11 20,11 '/%3E%3C/svg%3E ");
}

.form__item input[type="number"] {
  width: 100%;
  text-align: center;
  padding: 11px 0;
  border: 1px solid $bg-cloudy-blue;
  border-radius: 4px;

  appearance: textfield;

  @include tablet {
    margin-top: 25px;
    position: relative;
    min-height: 70px;
  }

  @include desktop {
    max-width: 181px;
    min-height: 70px;

    position: absolute;
    left: 219px;
  }
}

.form__item input[type="number"]:hover {
  border-color: $bg-bluey-grey;
}

.form__item input[type="number"]:active {
  border-color: $bg-dark-two;
}

.form__item--children {
  @include desktop {
    max-width: 230px;
  }
}

.form__item--children label {
  padding-left: 40px;
  position: relative;
  display: flex;
  align-items: center;
}

.form__item--children input[type="checkbox"] {
  width: 0;
  height: 0;
  display: none;
}

.form__item--children label::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: inherit;
  border: 1px solid $bg-cloudy-blue;
  border-radius: 4px;

  position: absolute;
  left: 0;
}

.form__item--children label:hover::before {
  border-color: $bg-bluey-grey;
}

.form__item--children label:active::before {
  border-color: $bg-pale-grey-three;
  background-color: $bg-pale-grey-three;
}

.form__item--children label::after {
  content: "";
  display: none;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 12' style='enable-background:new 0 0 12 12;' xml:space='preserve' fill='%23192144'%3E%3Cpolygon points='12,0 3.8,8 0,4.3 0,8.3 3.8,12 12,4 '/%3E%3C/svg%3E%0A");
  width: 9px;
  height: 9px;

  position: absolute;
  left: 9px;
  top: 4px;
}

.form__item--children label:active::after {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 12' style='enable-background:new 0 0 12 12;' xml:space='preserve' fill='%23192144' opacity='0.3'%3E%3Cpolygon points='12,0 3.8,8 0,4.3 0,8.3 3.8,12 12,4 '/%3E%3C/svg%3E ");
}

input[name="children-allowed"]:checked + label::after {
  display: inline-block;
}

.form__trips-list {
  padding: 0;
  list-style: none;
}

.form__trips-item {
  padding: 0;
  position: relative;

  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.form--route .form__trips-item::after {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 5 10' style='enable-background:new 0 0 5 10;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23cbced9;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='3,8.1 3,0 2,0 2,8.1 0,6.1 0,7.5 2.5,10 5,7.5 5,6.1 '/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 5px;
  height: 10px;
  position: absolute;
  right: 51px;
  bottom: -15px;

  @include common-tablet-desktop {
    display: none;
  }
}

.form--route .form__item {
  @include common-tablet-desktop {
    padding-top: 40px;
    border-top: 1px solid $bg-cloudy-blue;

    position: relative;
  }
}

.form--route .form__item::before {
  @include common-tablet-desktop {
    content: "";
    display: inline-block;
    width: 1px;
    background-color: $bg-cloudy-blue;
    height: 100%;

    position: absolute;
    top: 0;
    right: 139px;
    z-index: 1;
  }

  @include desktop {
    right: 211px;
  }
}

.form--route .trip {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @include common-tablet-desktop {
    // проверить
    height: 70px;
  }

  @include desktop {
    align-items: stretch;
  }
}

.trip__country-flag {
  width: 53px;
  border: 1px solid $bg-cloudy-blue;
  border-radius: 4px;
  border-left: none;
  position: relative;

  @include tablet {
    margin-left: 20px;
    padding-left: 20px;

    width: 100%;
    max-width: 130px;
    border: none;
  }

  @include desktop {
    margin-left: 35px;
    padding-left: 35px;

    width: 100%;
    max-width: 215px;
    border: none;
  }
}

.trip__country-flag::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: $bg-dark-slate-blue;
  border-radius: 50%;
  left: -4px;
  top: 50%;
  transform: translateY(-50%);

  @include common-tablet-desktop {
    width: 15px;
    height: 15px;
    z-index: 2;
  }
}

.trip__country-flag--bosnia {
  background-image: url("../../../img/flags/flag-bosnia.svg");
  background-repeat: no-repeat;
  background-size: 35px 24px;
  background-position: 50% 50%;

  @include common-tablet-desktop {
    background-image: url("../../../img/flags/flag-bosnia.svg");
    background-size: 70px 47px;
  }
}

.trip__country-flag--czech {
  background-image: url("../../../img/flags/flag-czech.svg");
  background-repeat: no-repeat;
  background-size: 35px 24px;
  background-position: 50% 50%;

  @include common-tablet-desktop {
    background-image: url("../../../img/flags/flag-czech.svg");
    background-size: 70px 47px;
  }
}

.country__delete {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: $bg-grey;
  border: none;

  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 1;

  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18.6 18.6' style='enable-background:new 0 0 18.6 18.6;' xml:space='preserve' fill='%23cbced9'%3E%3Cpath d='M11.4,9.3l6.7-6.7c0.6-0.6,0.6-1.5,0-2.1s-1.5-0.6-2.1,0L9.3,7.2L2.6,0.4C2-0.1,1-0.1,0.4,0.4C-0.1,1-0.1,2,0.4,2.6l6.7,6.7 L0.4,16c-0.6,0.6-0.6,1.5,0,2.1s1.5,0.6,2.1,0l6.7-6.7l6.7,6.7c0.6,0.6,1.5,0.6,2.1,0s0.6-1.5,0-2.1L11.4,9.3z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 9px 9px;
  background-position: 50% 50%;

  @include common-tablet-desktop {
    top: 50%;
    transform: translateY(-50%);
    background-size: 17px 17px;
    background-color: inherit;
  }
}

.form__button-wrapper {
  @include common-tablet-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__submit {
  width: 100%;
  background-color: $bg-light-gold;
  border: none;
  padding: 5px 0;
  border-radius: 20px;
  cursor: pointer;

  @include common-tablet-desktop {
    @include gold-button();
    border: none;
    max-width: 285px;
    padding: 28px 34px;
  }
}

.form__submit:hover,
.form__submit:active {
  @include gold-button-hover();
}

.form__submit:active {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 14' style='enable-background:new 0 0 10 14;' xml:space='preserve' fill='%231d2e5b' opacity='0.3'%3E%3Cpolygon points='0,14 0,0.1 10,7.1 '/%3E%3C/svg%3E%0A");
}

.form__back {
  background-color: inherit;
  border: none;
  width: 100%;
  margin-top: 15px;

  @include common-tablet-desktop {
    margin-top: 0;
    max-width: 200px;
    margin-left: auto;
    padding-left: 24px;

    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 14' style='enable-background:new 0 0 10 14;' xml:space='preserve' fill='%231d2e5b'%3E%3Cpolygon points='0,7.1 10,0.1 10,14 '/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 10px 14px;
  }
}

.form__back:hover {
  opacity: 0.7;
}

.form__back:active {
  opacity: 0.3;
}

.form__add-country {
  background-color: $bg-grey;
  border: none;
  width: 100%;
  padding: 15px 12px;
  text-align: left;
  border-radius: 4px;

  position: relative;

  @include tablet {
    max-width: 369px;
    // check
    height: 70px;
  }

  @include desktop {
    max-width: 730px;
    // check
    height: 70px;
  }
}

.form__add-country:hover,
.form__add-country:active {
  background-color: $bg-cloudy-blue;
}

.form__add-country:active {
  opacity: 0.3;
}

.form__add-country::before,
.form__add-country::after {
  content: "";
  display: inline-block;
  position: absolute;
}

.form__add-country::before {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 14 14' style='enable-background:new 0 0 14 14;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23d4d9eb;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='8,6 8,0 6,0 6,6 0,6 0,8 6,8 6,14 8,14 8,8 14,8 14,6 '/%3E%3C/svg%3E%0A");
  width: 14px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;

  @include common-tablet-desktop {
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
  }

  @include tablet {
    right: 32px;
  }
}

.form__add-country::after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid $bg-cloudy-blue;
  top: 50%;
  transform: translateY(-50%);
  right: 47px;

  @include common-tablet-desktop {
    width: 15px;
    height: 15px;
    right: -32px;
    background-color: $bg-cloudy-blue;
  }

  @include desktop {
    right: -63px;
  }
}

.form__introduction {
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__steps {
  display: none;

  @include desktop {
    display: block;
  }
}

.form__steps .steps__item:not(:last-of-type) {
  margin-bottom: 26px;
}

.new-plan__steps .steps__list {
  margin: 0;
  padding: 0;

  width: 45px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include tablet {
    width: 70px;
  }

  @include desktop {
    display: none;
  }
}

.new-plan__steps label {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $bg-steel-grey;
}

.steps__item--current label {
  background-color: $bg-dark-slate-blue;
}

.form__steps label {
  background-color: inherit;
}

.month {
  padding: 12px 0;
  margin: 0;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid $bg-light-blue-grey-two;
  border-bottom: 1px solid $bg-light-blue-grey-two;
}

.month button {
  border: 0;
  background-color: inherit;
}

.month__prev button,
.month__next button {
  padding: 0;
  background-size: 9px 17px;
  width: 9px;
  height: 17px;

  @include tablet {
    background-size: 15px 28px;
    width: 15px;
    height: 28px;
  }

  @include desktop {
    background-size: 18px 34px;
    width: 18px;
    height: 34px;
  }
}

.month__prev button {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 34' style='enable-background:new 0 0 18 34;' xml:space='preserve' fill='%23bebcbd'%3E%3Cpath d='M3.6,17l14-14.4c0.6-0.6,0.6-1.6,0-2.1c-0.6-0.6-1.5-0.6-2.1,0L0.4,15.9c-0.6,0.6-0.6,1.6,0,2.1l15.1,15.5 c0.3,0.3,0.7,0.4,1,0.4s0.8-0.1,1-0.4c0.6-0.6,0.6-1.6,0-2.1L3.6,17z'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
}

.month__next button {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 34' style='enable-background:new 0 0 18 34;' xml:space='preserve' fill='%23bebcbd'%3E%3Cpath d='M14.4,17L0.4,2.6C-0.1,2-0.1,1,0.4,0.4c0.6-0.6,1.5-0.6,2.1,0l15.1,15.5c0.6,0.6,0.6,1.6,0,2.1L2.5,33.6 c-0.3,0.3-0.7,0.4-1,0.4s-0.8-0.1-1-0.4c-0.6-0.6-0.6-1.6,0-2.1L14.4,17z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.month__prev button:hover {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 34' style='enable-background:new 0 0 18 34;' xml:space='preserve' fill='%23949292'%3E%3Cpath d='M3.6,17l14-14.4c0.6-0.6,0.6-1.6,0-2.1c-0.6-0.6-1.5-0.6-2.1,0L0.4,15.9c-0.6,0.6-0.6,1.6,0,2.1l15.1,15.5 c0.3,0.3,0.7,0.4,1,0.4s0.8-0.1,1-0.4c0.6-0.6,0.6-1.6,0-2.1L3.6,17z'/%3E%3C/svg%3E ");
}

.month__next button:hover {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 34' style='enable-background:new 0 0 18 34;' xml:space='preserve' fill='%23949292'%3E%3Cpath d='M14.4,17L0.4,2.6C-0.1,2-0.1,1,0.4,0.4c0.6-0.6,1.5-0.6,2.1,0l15.1,15.5c0.6,0.6,0.6,1.6,0,2.1L2.5,33.6 c-0.3,0.3-0.7,0.4-1,0.4s-0.8-0.1-1-0.4c-0.6-0.6-0.6-1.6,0-2.1L14.4,17z'/%3E%3C/svg%3E%0A");
}

.month__prev button:active {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 34' style='enable-background:new 0 0 18 34;' xml:space='preserve' fill='%23eeeded'%3E%3Cpath d='M3.6,17l14-14.4c0.6-0.6,0.6-1.6,0-2.1c-0.6-0.6-1.5-0.6-2.1,0L0.4,15.9c-0.6,0.6-0.6,1.6,0,2.1l15.1,15.5 c0.3,0.3,0.7,0.4,1,0.4s0.8-0.1,1-0.4c0.6-0.6,0.6-1.6,0-2.1L3.6,17z'/%3E%3C/svg%3E ");
}

.month__next button:active {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 34' style='enable-background:new 0 0 18 34;' xml:space='preserve' fill='%23eeeded'%3E%3Cpath d='M14.4,17L0.4,2.6C-0.1,2-0.1,1,0.4,0.4c0.6-0.6,1.5-0.6,2.1,0l15.1,15.5c0.6,0.6,0.6,1.6,0,2.1L2.5,33.6 c-0.3,0.3-0.7,0.4-1,0.4s-0.8-0.1-1-0.4c-0.6-0.6-0.6-1.6,0-2.1L14.4,17z'/%3E%3C/svg%3E%0A");
}

.form__item.calendar {
  @include tablet {
    margin-top: 60px;
  }
}

.calendar__weekdays {
  list-style: none;
  padding: 0 12px;

  display: flex;
  justify-content: space-between;

  @include desktop {
    padding: 0;
  }
}

.calendar__days {
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet {
    margin-top: 40px;
  }
}

.weekdays__item {
  @include desktop {
    width: 140px;
    padding-left: 16px;
  }
}

.days__item {
  width: 31px;
  height: 31px;
  text-align: center;
  vertical-align: middle;

  border-top: 1px solid $bg-cloudy-blue;
  border-left: 1px solid $bg-cloudy-blue;

  @include tablet {
    width: 75px;
    height: 70px;
  }

  @include desktop {
    width: 140px;
    height: 72px;

    text-align: left;
    vertical-align: top;
    line-height: unset;
  }
}

.days__item:nth-child(7n) {
  border-right: 1px solid $bg-cloudy-blue;
}

.days__item:nth-last-child(-n + 7) {
  border-bottom: 1px solid $bg-cloudy-blue;
}

.days__item button {
  width: 100%;
  height: 100%;
  background-color: $bg-pale-grey;
  border: none;
  color: inherit;

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding-left: 15px;
    padding-top: 15px;
  }
}

.days__item button:disabled {
  background-color: inherit;

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.days__event-date,
.days__event {
  margin: 0;
}

.days__event-date {
  margin-bottom: 10px;
}

.days__event {
  display: none;

  @include desktop {
    display: block;
  }
}

.days__item--selected button {
  background-color: $font-dark-slate-blue;
}

.days__item button:not(:disabled):hover {
  border: 2px solid $bg-orange-red;
  border-right: 2px solid $bg-orange-red;
}

.form__trips-item select,
label[for="trips__toggle"] {
  width: 100%;
  padding: 13px 0 13px 12px;
  border: 1px solid $bg-cloudy-blue;
  border-radius: 4px;
}

.form__trips-item select {
  padding-right: 9px;
  max-width: 168px;
  appearance: none;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 17 9' style='enable-background:new 0 0 17 9;' xml:space='preserve' fill='%23cbced9'%3E%3Cpath d='M8.5,7.2l-7.2-7C1-0.1,0.5-0.1,0.2,0.2c-0.3,0.3-0.3,0.8,0,1L8,8.8c0.3,0.3,0.8,0.3,1.1,0l7.7-7.5C16.9,1.1,17,0.9,17,0.7 s-0.1-0.4-0.2-0.5c-0.3-0.3-0.8-0.3-1.1,0L8.5,7.2z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-position: 90% 50%;

  @include common-tablet-desktop {
    background-size: 17px 9px;
  }

  @include tablet {
    max-width: 369px;
  }

  @include desktop {
    max-width: 730px;
    background-position: 98% 50%;
  }
}

.form__trips-item select:hover,
label[for="trips__toggle"]:hover {
  border-color: $bg-bluey-grey;
}

.form__trips-item input[id="trips__toggle"] {
  display: none;
}

label[for="trips__toggle"] {
  display: inline-block;
  cursor: pointer;

  @include tablet {
    max-width: 369px;
  }

  @include desktop {
    max-width: 730px;
  }
}

.country__dropdown {
  display: none;
}

.form__trips-item input[id="trips__toggle"]:checked ~ .country__dropdown {
  display: block;
  box-shadow: 0 20px 50px 0 $bg-dark-slate-blue-10;
  border: 1px solid $bg-cloudy-blue;
  border-top: none;
  background-color: $bg-white;
  border-radius: 0 0 10px 10px;

  position: absolute;
  z-index: 1;
  bottom: -465px;
  left: 0;

  @include common-tablet-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 35px 25px 0 25px;
    min-height: 476px;
    bottom: -476px;
  }

  @include tablet {
    width: 575px;
  }

  @include desktop {
    width: 730px;
  }
}

.form__trips-item input[id="trips__toggle"]:checked + label[for="trips__toggle"] {
  background-color: $bg-dark-slate-blue;
  border-radius: 4px 4px 0 0;
}

input[id="trips__toggle"]:checked + label[for="trips__toggle"]::before {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18.6 18.6' style='enable-background:new 0 0 18.6 18.6;' xml:space='preserve' fill='%23cbced9'%3E%3Cpath d='M11.4,9.3l6.7-6.7c0.6-0.6,0.6-1.5,0-2.1s-1.5-0.6-2.1,0L9.3,7.2L2.6,0.4C2-0.1,1-0.1,0.4,0.4C-0.1,1-0.1,2,0.4,2.6l6.7,6.7 L0.4,16c-0.6,0.6-0.6,1.5,0,2.1s1.5,0.6,2.1,0l6.7-6.7l6.7,6.7c0.6,0.6,1.5,0.6,2.1,0s0.6-1.5,0-2.1L11.4,9.3z'/%3E%3C/svg%3E%0A");
  background-size: 9px 9px;
  width: 9px;
  height: 9px;

  @include common-tablet-desktop {
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
  }
}

input[id="trips__toggle"]:checked + label[for="trips__toggle"]:hover::before {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18.6 18.6' style='enable-background:new 0 0 18.6 18.6;' xml:space='preserve' fill='white'%3E%3Cpath d='M11.4,9.3l6.7-6.7c0.6-0.6,0.6-1.5,0-2.1s-1.5-0.6-2.1,0L9.3,7.2L2.6,0.4C2-0.1,1-0.1,0.4,0.4C-0.1,1-0.1,2,0.4,2.6l6.7,6.7 L0.4,16c-0.6,0.6-0.6,1.5,0,2.1s1.5,0.6,2.1,0l6.7-6.7l6.7,6.7c0.6,0.6,1.5,0.6,2.1,0s0.6-1.5,0-2.1L11.4,9.3z'/%3E%3C/svg%3E%0A");
}

input[id="trips__toggle"]:checked + label[for="trips__toggle"]:active::before {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18.6 18.6' style='enable-background:new 0 0 18.6 18.6;' xml:space='preserve' fill='white' opacity='10%25'%3E%3Cpath d='M11.4,9.3l6.7-6.7c0.6-0.6,0.6-1.5,0-2.1s-1.5-0.6-2.1,0L9.3,7.2L2.6,0.4C2-0.1,1-0.1,0.4,0.4C-0.1,1-0.1,2,0.4,2.6l6.7,6.7 L0.4,16c-0.6,0.6-0.6,1.5,0,2.1s1.5,0.6,2.1,0l6.7-6.7l6.7,6.7c0.6,0.6,1.5,0.6,2.1,0s0.6-1.5,0-2.1L11.4,9.3z'/%3E%3C/svg%3E%0A");
}

.dropdown__alphabet {
  padding-left: 0;
  padding-top: 35px;
  width: 100%;
  height: 100%;
  justify-content: space-around;

  @include tablet {
    max-width: 270px;
  }

  @include desktop {
    max-width: 360px;
    justify-content: flex-start;
  }
}

.form__trips-item .dropdown__alphabet {
  padding-top: 0;
}

.form__trips-item--add-country {
  position: relative;
}

.form__trips-item--add-country .country__delete {
  @include tablet {
    right: 0;
  }
}

.form__trips-item .country__toggle-button {
  position: relative;

  @include common-tablet-desktop {
    // check it
    height: 70px;
    display: flex;
    align-items: center;
  }
}

.form__trips-item .country__toggle-button::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 17 9' style='enable-background:new 0 0 17 9;' xml:space='preserve' fill='%23cbced9'%3E%3Cpath d='M8.5,7.2l-7.2-7C1-0.1,0.5-0.1,0.2,0.2c-0.3,0.3-0.3,0.8,0,1L8,8.8c0.3,0.3,0.8,0.3,1.1,0l7.7-7.5C16.9,1.1,17,0.9,17,0.7 s-0.1-0.4-0.2-0.5c-0.3-0.3-0.8-0.3-1.1,0L8.5,7.2z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  width: 12px;
  height: 7px;

  @include common-tablet-desktop {
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
  }

  @include tablet {
    right: 32px;
  }
}

.form__trips-item .country__toggle-button::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid $bg-cloudy-blue;

  top: 50%;
  transform: translateY(-50%);
  right: 47px;

  @include common-tablet-desktop {
    width: 15px;
    height: 15px;
    right: -32px;
    background-color: $bg-white;
    z-index: 2;
  }

  @include desktop {
    right: -62px;
  }
}

.dropdown__alphabet .alphabet__letter {
  @include desktop {
    margin-right: 12px;
    margin-bottom: 12px;
    border-right: 1px solid $bg-cloudy-blue;
    border-bottom: 1px solid $bg-cloudy-blue;
    border-radius: 4px;
  }
}

.dropdown__alphabet .alphabet__letter:active {
  background-color: $bg-dark-slate-blue;
}

.dropdown__alphabet .alphabet__letter:nth-child(-n + 5) {
  border-top: none;

  @include common-tablet-desktop {
    border-top: 1px solid $bg-cloudy-blue;
  }
}

.dropdown__alphabet .alphabet__letter:nth-child(5n + 1) {
  border-left: none;

  @include common-tablet-desktop {
    border-left: 1px solid $bg-cloudy-blue;
  }
}

.dropdown__alphabet .alphabet__letter:nth-child(5n + 5) {
  border-right: none;

  @include common-tablet-desktop {
    border-right: 1px solid $bg-cloudy-blue;
  }
}

.dropdown__alphabet .alphabet__letter:hover {
  border-color: $bg-bluey-grey;
}

.dropdown__letter {
  list-style: none;
  padding: 17px 0 17px 20px;

  @include common-tablet-desktop {
    padding-top: 35px;
    border-left: 1px solid $bg-cloudy-blue;
  }
}

.dropdown__letter .letter__item {
  cursor: pointer;
}

.form__trips-item textarea {
  width: 100%;
  resize: none;
  border: 1px solid $bg-cloudy-blue;
  border-radius: 4px;
  padding: 13px 15px;
  text-align: left;
  min-height: 220px;

  @include tablet {
    min-height: 142px;
    max-width: 499px;
  }

  @include desktop {
    min-height: 142px;
    max-width: 730px;
  }
}

.form__trips-item textarea:hover {
  border-color: $bg-bluey-grey;
}

.form__trips-item textarea:active {
  border-color: $bg-dark-two;
}

.form--entertainment .trip__title {
  position: relative;
  padding-left: 15px;
  width: 100%;

  @include common-tablet-desktop {
    padding-left: 0;
    margin-bottom: 35px;
  }
}

.form--entertainment .trip__title::before,
.form--entertainment .trip__title::after {
  content: "";
  display: inline-block;
}

.form--entertainment .trip__title::before {
  width: 6px;
  height: 6px;
  background-color: $bg-dark-slate-blue;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  @include common-tablet-desktop {
    width: 15px;
    height: 15px;
    left: unset;
    right: 214px;
  }
}

.form--entertainment .trip__title::after {
  width: 35px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  @include common-tablet-desktop {
    width: 70px;
    height: 47px;
    right: 32px;
  }

  @include desktop {
    right: 110px;
  }
}

.form--entertainment .trip__title--bosnia::after {
  background-image: url("../../../img/flags/flag-bosnia.svg");
  background-size: 35px 24px;
  background-repeat: no-repeat;

  @include common-tablet-desktop {
    background-image: url("../../../img/flags/flag-bosnia.svg");
    background-size: 70px 47px;
  }
}

.form--entertainment .trip__title--czech::after {
  background-image: url("../../../img/flags/flag-czech.svg");
  background-size: 35px 24px;
  background-repeat: no-repeat;

  @include common-tablet-desktop {
    background-image: url("../../../img/flags/flag-czech.svg");
    background-size: 70px 47px;
  }
}

.form--entertainment .form__trips-item {
  position: relative;
}

.form--entertainment .form__trips-item::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 2px;
  background-color: $bg-dark-slate-blue;
  position: absolute;
  top: 8px;
  left: -10px;

  @include common-tablet-desktop {
    display: none;
  }
}

.form--entertainment .form__trips-list {
  position: relative;

  @include tablet {
    margin-top: 75px;
  }
}

.form--entertainment .form__trips-list::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: $bg-dark-slate-blue;
  left: -10px;
  top: 8px;
  max-height: 285px;

  @include tablet {
    left: unset;
    width: 3px;
    right: 0;
    max-height: 230px;
    z-index: 1;
  }

  @include desktop {
    left: unset;
    width: 3px;
    right: 220px;
    z-index: 1;
    max-height: 225px;
  }
}
