.form-main__new-plan {
  @include tablet {
    padding-left: 75px;
    padding-right: 75px;
  }
}

.new-plan {
  background-color: $bg-light-blue-grey-five;
  border-radius: 30px 30px 0 0;

  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}

.new-plan::before {
  @include bg-round-corvers($bg-pale-grey);
}

.new-plan__title {
  margin: 0;
  margin-bottom: 31px;
}

.new-plan form {
  background-color: $bg-white;
  border-radius: 10px;
  padding: 24px;

  @include tablet {
    padding: 50px 43px;
  }

  @include desktop {
    padding: 100px 162px;
  }
}

.new-plan form:not(:last-of-type) {
  margin-bottom: 10px;
}

.form__title {
  margin: 0;
}

.form__title span {
  display: block;
}

.form__description {
  @include desktop {
    max-width: 576px;
  }
}

.form__params {
  @include tablet {
    display: flex;
    flex-direction: column;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__item {
  position: relative;
  margin-bottom: 20px;
}

.form__item--amount {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    width: 50%;
  }
}

.form__item--duration {
  @include common-tablet-desktop {
    order: 1;
  }
}

.form__item--amount span {
  @include desktop {
    order: 1;
  }
}

.form__item .button {
  position: absolute;
  top: 26px;

  border: none;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: inherit;

  @include desktop {
    top: unset;
  }
}

.form__item .button--decrease {
  left: 1px;

  @include desktop {
    left: 219px;
  }
}

.form__item .button--increase {
  right: 1px;

  @include desktop {
    right: 100px;
  }
}

.form__item input[type="number"] {
  width: 100%;
  text-align: center;
  padding: 11px 0;
  border: 1px solid $bg-cloudy-blue;
  border-radius: 4px;

  @include desktop {
    max-width: 181px;
  }
}

.form__item--children {
  @include desktop {
    max-width: 230px;
  }
}

.form__item--children label {
  padding-left: 40px;
  position: relative;
  display: flex;
  align-items: center;
}

.form__item--children input[type="checkbox"] {
  width: 0;
  height: 0;
}

.form__item--children label::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: inherit;
  border: 1px solid $bg-cloudy-blue;
  border-radius: 4px;

  position: absolute;
  left: 0;
}

.form__item--children label::after {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 12' style='enable-background:new 0 0 12 12;' xml:space='preserve' fill='%23192144'%3E%3Cpolygon points='12,0 3.8,8 0,4.3 0,8.3 3.8,12 12,4 '/%3E%3C/svg%3E%0A");
  width: 9px;
  height: 9px;

  position: absolute;
  left: 9px;
  top: 2px;
}

.form__trips-list {
  padding: 0;
  list-style: none;
}

.form__submit {
  width: 100%;
  background-color: $bg-light-gold;
  border: none;
  padding: 5px 0;
  border-radius: 20px;

  @include common-tablet-desktop {
    max-width: 285px;
    padding: 28px 0;
  }
}

.form__back {
  background-color: inherit;
  border: none;
  width: 100%;
  margin-top: 15px;
}

.form__add-country {
  background-color: $bg-grey;
  border: none;
  width: 100%;
  padding: 15px 12px;
  text-align: left;
  border-radius: 4px;
}

.steps__list {
  margin: 0;
  padding: 0;
}

.month {
  padding: 12px 0;
  margin: 0;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid $bg-cloudy-blue;
  border-bottom: 1px solid $bg-cloudy-blue;
}

.month button {
  border: 0;
  background-color: inherit;
}

.calendar__weekdays {
  list-style: none;
  padding: 0 12px;

  display: flex;
  justify-content: space-between;
}

.calendar__days {
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.days__item {
  width: 31px;
  height: 31px;
  text-align: center;
  vertical-align: middle;

  border-top: 1px solid $bg-cloudy-blue;
  border-left: 1px solid $bg-cloudy-blue;

  @include tablet {
    width: 75px;
    height: 70px;
  }

  @include desktop {
    width: 140px;
    height: 72px;

    text-align: left;
    vertical-align: top;
    line-height: unset;
  }
}

.days__item:nth-child(7n) {
  border-right: 1px solid $bg-cloudy-blue;
}

.days__item:nth-last-child(-n + 7) {
  border-bottom: 1px solid $bg-cloudy-blue;
}

.days__item--selected {
  background-color: $font-dark-slate-blue;
}

.days__item--current {
  border: 2px solid $bg-orange-red;
  border-right: 2px solid $bg-orange-red;
}

.days__item--following {
  background-color: $bg-pale-grey;
}

.form__trips-item {
  padding: 0;
}

.form__trips-item select,
label[for="trips__toggle"] {
  width: 100%;
  padding: 13px 0 13px 12px;
  border: 1px solid $bg-cloudy-blue;
  border-radius: 4px;
}

.form__trips-item input[id="trips__toggle"] {
  width: 0;
  height: 0;
}

label[for="trips__toggle"] {
  display: inline-block;
  cursor: pointer;
}

.trip__dropdown {
  display: none;
}

.form__trips-item input[id="trips__toggle"]:checked ~ .trip__dropdown {
  display: block;
  box-shadow: 0 20px 50px 0 $bg-dark-slate-blue-10;
  border: 1px solid $bg-cloudy-blue;
  border-top: none;
}

.form__trips-item input[id="trips__toggle"]:checked + label[for="trips__toggle"] {
  background-color: $bg-dark-slate-blue;
  border-radius: 4px 4px 0 0;
}

.dropdown__alphabet {
  padding-left: 0;
  width: 100%;
  justify-content: space-around;
}

.dropdown__alphabet .alphabet__letter:nth-child(-n + 5) {
  border-top: none;
}

.dropdown__alphabet .alphabet__letter:nth-child(5n + 1) {
  border-left: none;
}

.dropdown__alphabet .alphabet__letter:nth-child(5n + 5) {
  border-right: none;
}

.dropdown__letter {
  list-style: none;
  padding: 17px 0 17px 20px;
}

.form__trips-item textarea {
  width: 100%;
  resize: none;
  border: 1px solid $bg-cloudy-blue;
  border-radius: 4px;
  padding: 13px 15px;
  text-align: left;
  min-height: 220px;
}
