.companions__pagination {
  margin-top: 66px;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  background-color: $bg-white;
  border-radius: 20px;
  min-height: 50px;

  @include common-tablet-desktop {
    padding: 25px 35px 25px 28px;
  }

  @include desktop {
    max-width: 950px;
  }
}

.pagination__item--active {
  @include common-tablet-desktop {
    background-color: $bg-light-gold;
    border-radius: 50%;
  }
}

.pagination__item--back,
.pagination__item--forward {
  width: 50%;

  @include common-tablet-desktop {
    max-width: 25px;
  }
}

.pagination__item--back:hover,
.pagination__item--forward:hover {
  opacity: 0.6;
}

.pagination__item--back:active,
.pagination__item--forward:active {
  opacity: 0.3;
}

.pagination__item {
  display: inline-block;
  //padding: 25px 0;

  @include common-tablet-desktop {
    min-width: 50px;
    height: 50px;
  }
}

.pagination__item:not(.pagination__item--back):not(.pagination__item--forward) {
  display: none;

  @include common-tablet-desktop {
    display: inline-block;
  }
}

.pagination__item--back {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 14' style='enable-background:new 0 0 10 14;' xml:space='preserve' fill='%23192144'%3E%3Cpolygon points='0,7.1 10,0.1 10,14 '/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 10px 20px;

  border-radius: 20px 0 0 20px;

  @include common-tablet-desktop {
    order: 1;
    margin-left: auto;
  }

  @include desktop {
    background-position: 90% 50%;
  }
}

.pagination__item--forward {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 14' style='enable-background:new 0 0 10 14;' xml:space='preserve' fill='%23192144'%3E%3Cpolygon points='0,14 0,0.1 10,7.1 '/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 10px 20px;

  border-radius: 0 20px 20px 0;

  @include common-tablet-desktop {
    order: 2;
  }

  @include desktop {
    background-position: 75% 50%;
  }
}
