.profile__plans {
  position: relative;

  @include tablet {
    padding: 0 75px;
  }

  @include desktop {
    padding: 0 124px;
  }
}

.profile__plans::before {
  @include bg-round-corvers($bg-grey);
}

.plans {
  background-color: $bg-pale-grey;
  padding-top: 30px;
  padding-bottom: 25px;
  border-radius: 30px 30px 0 0;
}

.plans__title {
  margin: 0;
  margin-bottom: 34px;
}

.trip {
  background-color: $bg-white;
  border-radius: 10px;
  padding: 24px;

  @include tablet {
    padding: 40px 37px 19px 37px;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.trip:not(:last-of-type) {
  margin-bottom: 22px;
}

.trip__title {
  margin: 0;
  margin-bottom: 20px;

  @include desktop {
    margin-bottom: 0;
  }
}

.plans__trip .trip__title {
  @include tablet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.trip__details {
  @include common-tablet-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.trip__companions,
.trip__date {
  margin: 0;
}

.trip__date {
  @include desktop {
    margin-left: 40px;
  }
}

.trip__change-button {
  border: none;
  padding: 0;
  background-color: inherit;
  margin-top: 27px;

  @include common-tablet-desktop {
    margin-top: 0;
  }

  @include desktop {
    margin-left: 130px;
  }
}
