.form__trips-list {
  list-style: none;
}

.form__submit {
  background-color: $bg-light-gold;
  border: none;
}

.form__back {
  background-color: inherit;
  border: none;
}

.form__add-country {
  background-color: $bg-grey;
  border: none;
}
