.promo {
  background: url("../../../img/globe-back-mobile@1x.jpg") no-repeat 0% 0%;
  background-color: $bg-blue;

  padding-top: 50px;
  padding-bottom: 40px;

  // хак для скругленных углов у элементов списка
  position: relative;
  //z-index: -2;
}

.promo__title {
  max-width: 240px;
  margin: 0 auto;
}

.promo__title::after {
  content: "";
  display: inline-block;
  width: 192px;
  height: 255px;
  background: url("../../../img/traveller-illustration-mobile@1x.png") no-repeat;
  background-position-x: 50%;
  background-position-y: 30%;
}

.promo__steps-list,
.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo__quote {
  margin: 0;
  background-color: $bg-dark-blue;
  padding: 30px 25px;
}

.promo__steps-list .steps__item {
  padding: 25px;
  border-radius: 10px 10px 0 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.steps__item span {
  margin-left: 70px;
}

.promo__steps-list .steps__item:last-child {
  border-radius: 10px;
}

.promo__steps-list li:first-child {
  background-color: $bg-orange;
}

.promo__steps-list li:nth-child(2) {
  background-color: $bg-mango-three;
  position: relative;
}

.promo__steps-list li:nth-child(2)::before {
  @include bg-round-corvers($bg-orange);
}

.promo__steps-list li:nth-child(3) {
  background-color: $bg-mango-two;
  position: relative;
}

.promo__steps-list li:nth-child(3)::before {
  @include bg-round-corvers($bg-mango-three);
}

.promo__steps-list li:last-child {
  background-color: $bg-light-gold;
  position: relative;
}

.promo__steps-list li:last-child::before {
  @include bg-round-corvers($bg-mango-two);
  border-radius: 0 0 10px 10px;
}
