.promo {
  background: url("../../../img/globe-back-mobile@1x.jpg") no-repeat 0% 0%;
  background-color: $bg-dark-blue;
  background-size: 320px 430px;

  @include retina {
    background-image: url("../../../img/globe-back-mobile@2x.jpg");
  }

  padding-top: 45px;
  padding-bottom: 90px;

  // хак для скругленных углов у элементов списка
  position: relative;
  //z-index: -2;

  @include tablet {
    // проверить эту картинку, она самодельная
    background: url("../../../img/globe-back-tablet1x_768.jpg") no-repeat 100% 100%;
    background-color: $bg-globe-tablet-blue;
    min-height: 902px;
    padding-top: 70px;

    @include retina {
      background-image: url("../../../img/globe-back-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  @include desktop {
    background: url("../../../img/globe-back-desktop@1x.jpg") no-repeat 0% 0%;
    background-color: $bg-dark-blue;
    background-size: 100% 645px;
    //background-size: cover;
    min-height: 645px;
    padding-top: 105px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include retina {
      background-image: url("../../../img/globe-back-desktop@2x.jpg");
    }
  }
}

.promo__title {
  position: relative;
  max-width: 240px;
  margin: 0 auto;
  //margin-bottom: 250px;

  @include tablet {
    max-width: 400px;
  }

  @include desktop {
    max-width: 465px;
    margin: 0;
    margin-bottom: 107px;

    padding-left: 68px;
  }
}

.promo__title::after {
  content: "";
  display: inline-block;
  width: 192px;
  height: 255px;
  background: url("../../../img/traveller-illustration-mobile@1x.png") no-repeat;
  margin-top: 10px;
  margin-left: 30px;

  @include retina {
    background-image: url("../../../img/traveller-illustration-mobile@2x.png");
    background-size: 192px 255px;
  }

  @include tablet {
    background: url("../../../img/traveller-illustration-tablet@1x.png") no-repeat;
    background-position-x: 50%;
    background-position-y: 30%;

    width: 377px;
    height: 454px;
    background-size: 377px 454px;


    position: absolute;
    top: 230px;
    right: -75px;

    @include retina {
      background-image: url("../../../img/traveller-illustration-tablet@2x.png");
    }
  }

  @include desktop {
    background: url("../../../img/traveller-illustration-desktop@1x.png") no-repeat;
    background-position-x: 50%;
    background-position-y: 30%;
    width: 431px;
    height: 640px;
    background-size: 431px 640px;

    @include retina {
      background-image: url("../../../img/traveller-illustration-desktop@2x.png");
    }

    position: absolute;
    top: -110px;
    right: -511px;
  }
}

.promo__steps-list,
.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo__steps-list {
  position: absolute;
  max-width: 270px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);

  @include tablet {
    // отладочное
    width: 100%;
    max-width: 688px;

    //bottom: -156px;
    bottom: -141px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop {
    width: 100%;
    max-width: 1320px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    bottom: 123px;
  }
}

.promo__quote {
  margin: 0;
  background-color: $bg-dark-blue;
  //padding: 30px 25px;
  padding: 35px 25px 29px 25px;

  @include tablet {
    background-color: transparent;
    width: 50%;
    margin-bottom: 160px;
    padding-top: 87px;
    padding-left: 35px;
  }

  @include desktop {
    background-color: transparent;
    max-width: 340px;
    padding-top: 10px;
    padding-left: 45px;
  }
}

.promo__quote p {
  max-width: 170px;
  margin: 0;
  margin-bottom: 20px;

  @include common-tablet-desktop {
    max-width: unset;
    margin-bottom: 45px;
  }
}

.promo__quote-person {
  display: inline-block;
  max-width: 170px;

  @include common-tablet-desktop {
    max-width: unset;
  }
}

.promo__steps-list .steps__item {
  padding: 23px 20px 25px 25px;
  border-radius: 10px 10px 0 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-height: 80px;

  @include tablet {
    width: 50%;
    padding: 30px;
    padding-right: 130px;
    flex-direction: column;
    justify-content: space-between;

    max-height: 140px;
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 30px 33px;
    max-height: unset;
  }
}

.steps__item span {
  margin-left: 70px;

  @include tablet {
    margin-left: 0;
    margin-top: 10px;
  }

  @include desktop {
    margin-top: 0;
  }
}

.steps__item:nth-child(2) span {
  margin-left: 65px;

  @include common-tablet-desktop {
    margin-left: unset;
  }
}

.steps__item:nth-child(3) span {
  margin-left: 75px;

  @include common-tablet-desktop {
    margin-left: unset;
  }
}

.promo__steps-list li:first-child {
  background-color: $bg-orange;

  @include tablet {
    border-radius: 20px 0 0 0;
  }

  @include desktop {
    max-width: 315px;
    border-radius: 20px 0 0 20px;
  }
}

.promo__steps-list li:nth-child(2) {
  background-color: $bg-mango-three;
  position: relative;

  @include tablet {
    border-radius: 20px 20px 0 0;
  }

  @include desktop {
    max-width: 345px;
    border-radius: 20px 0 0 20px;
  }
}

.promo__steps-list li:nth-child(2)::before {
  @include bg-round-corvers($bg-orange);

  @include tablet {
    border-radius: 0 20px 0 0;
  }
}

.promo__steps-list li:nth-child(3) {
  background-color: $bg-mango-two;
  position: relative;

  @include tablet {
    border-radius: 0 0 0 20px;
  }

  @include desktop {
    //max-width: 345px;
    border-radius: 20px 0 0 20px;
  }
}

.promo__steps-list li:nth-child(3)::before {
  @include bg-round-corvers($bg-mango-three);

  @include tablet {
    border-radius: 0 0 0 20px;
  }

  @include desktop {
    border-radius: unset;
  }
}

.steps__item:nth-child(3) span {
  @include desktop {
    margin-left: 75px;
  }
}

.promo__steps-list li:last-child {
  background-color: $bg-light-gold;
  position: relative;
  border-radius: 10px;

  @include tablet {
    border-radius: 0 0 20px 20px;
  }

  @include desktop {
    max-width: 315px;
    border-radius: 20px;
  }
}

.promo__steps-list li:last-child::before {
  @include bg-round-corvers($bg-mango-two);
  border-radius: 0 0 10px 10px;

  @include tablet {
    border-radius: 0 0 20px 0;
  }

  @include desktop {
    border-radius: 0 20px 20px 0;
  }
}
