.search {
  background-color: $bg-light-gold;
}

.catalog-main__companion-search fieldset {
  border: 0;
}

.filter__list {
  list-style: none;
}

.search__submit {
  border: none;
  background-color: $bg-white;
}
