.tariff {
  background-color: $bg-grey;

  padding-top: 55px;
  padding-bottom: 30px;

  border-radius: 0 0 30px 30px;

  position: relative;

  @include desktop {
    padding-left: 131px;
    padding-right: 131px;
  }
}

.tariff::before {
  @include bg-round-corvers($bg-dark-blue-grey);
}

.tariff__title {
  margin: 0;
  padding: 15px 100px 15px 25px;

  // background: url("../../../img/rates@1x.png") no-repeat 100% 100%;
  // background-size: 99px 99px;

  @include tablet {
    padding: 0;
    margin: 0 auto;
  }
}

.tariff__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 25px;

  position: relative;
  z-index: 0;

  @include desktop {
    padding-right: 200px;
  }
}

.tariff__list::before {
  content: "";
  display: inline-block;
  background: url("../../../img/rates@1x.png") no-repeat 100% 100%;
  background-size: 99px 99px;
  width: 99px;
  height: 99px;
  position: absolute;
  right: 0;
  top: -120px;

  @include tablet {
    bottom: -50px;
    right: 46px;
    top: unset;
  }

  @include desktop {
    background-size: 198px 198px;
    width: 198px;
    height: 198px;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.tariff__list::after {
  @include tablet {
    content: "";
    display: inline-block;
    width: 198px;
    height: 285px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    background-color: $bg-pale-grey-four;
    border-radius: 20px;
  }

  @include desktop {
    content: "";
    display: inline-block;
    width: 444px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    background-color: $bg-pale-grey-four;
    border-radius: 20px;
  }
}

.tariff__item {
  position: relative;
  margin: 14px 0;
  border-top: 1px solid $bg-pale-grey-four;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 0;
    margin: 0;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 0;
    margin: 0;
  }
}

.tariff__item:last-of-type {
  border-bottom: 1px solid $bg-pale-grey-four;
}

.tariff__item span {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  text-align: center;
  line-height: 34px;
  vertical-align: middle;

  @include tablet {
    position: unset;
    order: -1;
    margin-right: 25px;
    width: 67px;
    height: 67px;
    line-height: 67px;
  }

  @include desktop {
    position: unset;
    order: -1;
    margin-right: 25px;
    width: 67px;
    height: 67px;
    line-height: 67px;
  }
}

.tariff__commercial {
  @include tablet {
    flex-grow: 1;
  }

  @include desktop {
    flex-grow: 1;
  }
}

.tariff__item p {
  margin: 0;
}

.tariff__item:first-child span {
  background-color: $bg-mango-three;
}

.tariff__item:nth-child(2) span {
  background-color: $bg-mango-two;
}

.tariff__item:last-child span {
  background-color: $bg-light-gold;
}

.tariff__show-all {
  display: inline-block;
  width: 100%;
  text-align: center;

  margin-top: 30px;

  @include tablet {
    padding: 25px 0;
    position: relative;
  }

  @include desktop {
    padding: 25px 0;
    position: relative;
    width: 50%;
  }
}

.tariff__show-all::before {
  @include tablet {
    content: "";
    display: inline-block;
    width: 67px;
    height: 67px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $bg-pale-grey-four;
    border-radius: 50%;
  }

  @include desktop {
    content: "";
    display: inline-block;
    width: 67px;
    height: 67px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $bg-pale-grey-four;
    border-radius: 50%;
  }
}
