.tariff {
  background-color: $bg-grey;

  padding-top: 37px;
  padding-bottom: 37px;

  border-radius: 0 0 30px 30px;

  position: relative;

  @include tablet {
    padding-top: 75px;
    border-radius: 0 0 60px 60px;
    padding-bottom: 62px;
  }

  @include desktop {
    padding-top: 107px;
    padding-left: 131px;
    padding-right: 131px;
    padding-bottom: 162px;
  }
}

.tariff::before {
  @include bg-round-corvers($bg-dark-blue-grey);
}

.tariff__title {
  margin: 0;
  padding: 15px 100px 15px 25px;

  @include tablet {
    padding: 0;
    margin: 0 auto;
  }
}

.tariff__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 25px;
  margin-top: 28px;

  position: relative;
  z-index: 0;

  @include tablet {
    margin-left: 0;
    padding-right: 34px;
    margin-top: 70px;
  }

  @include desktop {
    margin-top: 130px;
    padding-right: 273px;
  }
}

.tariff__list::before {
  content: "";
  display: inline-block;
  background: url("../../../img/rates@1x.png") no-repeat 100% 100%;

  @include retina {
    background-image: url("../../../img/rates@2x.png");
  }

  background-size: 99px 99px;
  width: 99px;
  height: 99px;
  position: absolute;
  right: 0;
  top: -130px;

  @include tablet {
    bottom: -105px;
    right: 46px;
    top: unset;
  }

  @include desktop {
    background-size: 198px 198px;
    width: 198px;
    height: 198px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.tariff__list::after {
  @include tablet {
    content: "";
    display: inline-block;
    width: 198px;
    height: 285px;
    position: absolute;
    right: 0;
    top: -40px;
    z-index: -1;
    background-color: $bg-pale-grey-four;
    border-radius: 20px;
  }

  @include desktop {
    content: "";
    display: inline-block;
    width: 444px;
    height: 300px;
    position: absolute;
    right: 114px;
    top: -48px;
    z-index: -1;
    background-color: $bg-pale-grey-four;
    border-radius: 20px;
  }
}

.tariff__item {
  min-height: 65px;
  position: relative;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 0;
    margin: 0;
    margin-left: 92px;

    border-top: 1px solid $bg-grey;
    border-bottom: 1px solid $bg-grey;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    margin: 0;

    margin-left: 92px;

    border-top: 1px solid $bg-pale-grey-four;
    border-bottom: 1px solid $bg-pale-grey-four;
  }
}

.tariff__item .tariff__rate {
  @include tablet {
    margin-left: auto;
  }
}

.tariff__item:last-of-type {
  @include desktop {
    padding-bottom: 15px;
  }
}

.tariff__item:last-of-type .tariff__rate {
  border-bottom: 1px solid $bg-pale-grey-four;
  padding-bottom: 12px;

  @include tablet {
    border-bottom: none;
  }
}

.tariff__item span {
  position: absolute;
  top: 5px;
  right: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  text-align: center;
  line-height: 34px;
  vertical-align: middle;

  @include tablet {
    top: 0;
    left: -92px;
    width: 67px;
    height: 67px;
    line-height: 67px;
  }

  @include desktop {
    top: 0;
    left: -92px;
    width: 67px;
    height: 67px;
    line-height: 67px;
  }
}

.tariff__commercial {
  max-width: 200px;
  border-top: 1px solid $bg-pale-grey-four;
  padding-top: 12px;

  @include tablet {
    max-width: 320px;
    margin-right: auto;
    flex-grow: 1;
    border-top: none;
    padding-top: 0;
  }

  @include desktop {
    flex-grow: 1;
    max-width: 100%;
    border-top: none;
  }
}

.tariff__rate {
  @include desktop {
    padding-top: 12px;
  }
}

.tariff__item p {
  margin: 0;
}

.tariff__item:first-child span {
  background-color: $bg-mango-three;
}

.tariff__item:nth-child(2) span {
  background-color: $bg-mango-two;
}

.tariff__item:last-child span {
  background-color: $bg-light-gold;
}

.tariff__show-all {
  display: inline-block;
  width: 100%;
  text-align: center;

  margin-top: 30px;

  @include tablet {
    padding: 25px 0;
    position: relative;
    max-width: 365px;
    padding-left: 88px;
    margin-top: 21px;
  }

  @include desktop {
    padding: 25px 0;
    position: relative;
    width: 50%;
    padding-left: 88px;
    margin-top: 29px;
    margin-left: 26px;

    text-align: left;
  }
}

.tariff__show-all:hover {
  opacity: 0.7;
}

.tariff__show-all:active {
  opacity: 0.3;
}

.tariff__show-all::before {
  @include common-tablet-desktop {
    content: "";
    display: inline-block;
    width: 67px;
    height: 67px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $bg-pale-grey-four;
    border-radius: 50%;

    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 17 21' style='enable-background:new 0 0 17 21;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23132576;%7D%0A%3C/style%3E%3Cpath class='st0' d='M16.4,15.1c-0.9-1.2-2-2-3.6-2.4l-1.5,5.2c0,0.5-0.4,0.9-0.9,0.9c-0.5,0-0.9-0.4-0.9-0.9v-4.2 c0-0.6-0.5-1.1-1.1-1.1c-0.6,0-1.1,0.5-1.1,1.1v4.2c0,0.5-0.4,0.9-0.9,0.9c-0.5,0-0.9-0.4-0.9-0.9l-1.5-5.2 c-1.6,0.4-2.7,1.2-3.6,2.4C0.2,15.6,0,16.6,0,17.1c0,0.1,0,0.3,0,0.4v0.9v0.9c0,1,0.8,1.7,1.7,1.7h13.5c1,0,1.7-0.8,1.7-1.7v-0.9 v-0.9c0-0.2,0-0.3,0-0.4C17,16.6,16.8,15.6,16.4,15.1z M3.9,4.6c0,2.6,1.6,6.3,4.6,6.3c2.9,0,4.6-3.8,4.6-6.3c0-2.6-2-4.6-4.6-4.6 C6,0,3.9,2.1,3.9,4.6z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 17px 21px;
  }
}
