.catalog-main__title,
.form-main__title {
  background-color: $font-dark-blue;
}

.catalog-main__title a,
.form-main__title a {
  border-bottom: 5px solid $bg-orange;
}

.form-main__title a {
  @include desktop {
    display: inline-block;
    padding-bottom: 60px;
    padding-top: 70px;
  }
}

.catalog-main__title .title__back {
  border-bottom: none;
}
