.profile__container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $bg-grey;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include desktop {
    padding-top: 0;
    padding-bottom: 65px;
  }
}

.user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user__level,
.user__avatar {
  width: 50%;
  margin-bottom: 20px;

  @include common-tablet-desktop {
    width: auto;
    margin-bottom: 0;
  }
}

.user__level {
  @include tablet {
    order: -2;
  }

  @include desktop {
    position: relative;
    margin-top: -190px;
    margin-left: auto;
    margin-right: 41px;
    padding-top: 43px;
  }
}

.user__level p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.user__progress-bar {
  @include size(100px, 100px);
  clip: rect(0, 100px, 100px, 50px);
  left: 0;
  position: absolute;
  top: 40px;

  .half-circle {
    @include size(100%, 100%);
    border: 3px solid $bg-orange;
    border-radius: 50%;
    clip: rect(0, 50px, 100px, 0);
    left: 0;
    position: absolute;
    top: 0;
  }
}

.user__level--progress-80 {
  @include draw-progress(80, $bg-orange);
}

.user__avatar img {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 100px;

  @include desktop {
    width: 190px;
    height: 190px;
    position: relative;
    margin-top: -190px;
    margin-right: 96px;
    border-radius: unset;
  }
}

.user__change-avatar {
  background-color: $bg-pale-grey;
  border: none;
  width: 100%;
  padding: 5px 0;
  border-radius: 20px;

  @include desktop {
    width: 190px;
    margin-left: 1035px;
    border-radius: 0 0 20px 20px;
    padding: 15px 0;
  }
}

.user__change-avatar:hover,
.user__change-avatar:active {
  background-color: $bg-light-blue-grey;
}

.user__change-avatar span {
  @include desktop {
    display: none;
  }
}

.tags--form,
.transport--form {
  margin-top: 25px;
  position: relative;
  border: 1px solid $bg-cloudy-blue;
  border-radius: 10px;
  width: 100%;
}

.tags--form {
  @include desktop {
    margin-left: 65px;
    max-width: 730px;
    max-height: 94px;
  }
}

.tags--form:hover,
.transport--form:hover {
  border-color: $bg-cloudy-blue-two;
}

.tags--form:active,
.transport--form:active {
  border-color: $bg-dark-two;
}

.tags--form .tags__title,
.transport--form .transport__title {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0 17px;
  background-color: $bg-grey;

  @include common-tablet-desktop {
    top: auto;
    bottom: -9px;
  }
}

.transport--form .transport__item {
  height: auto;
  width: 33px;
  margin-right: 0;

  @include common-tablet-desktop {
    width: 43px;
  }
}

.tags--form .tags__title {
  @include desktop {
    left: 60px;
  }
}

.tags textarea {
  background-color: inherit;
  padding: 25px;
  width: 100%;
  resize: none;
  border: none;

  @include desktop {
    padding: 33px;
  }
}

.transport--form {
  @include tablet {
    order: -1;
    max-width: 308px;
    margin-bottom: 40px;
  }

  @include desktop {
    max-width: 384px;
  }
}

.transport--form .transport__list {
  padding: 15px 0;
  margin: 0 auto;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: center;

  @include common-tablet-desktop {
    padding: 24px 0;
  }
}

.transport__item label {
  display: inline-block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: $bg-white;

  @include common-tablet-desktop {
    width: 43px;
    height: 43px;
  }
}
